<!DOCTYPE html>
<html>
<head>
    <title>Post Create</title>

    <style>
    	h1{
    		color:red;
    	}
    	li{
    		color:green;
    	}
    	h3{
    		color:pink;
    		background-color: yellow;
    	}
    	.awsome{
    		font-family: sans-serif;
    	}


    </style>

</head>
<body>
    <h1>{{user}}</h1>

    <ol>
     
            <li>{{list.title}}</li>
            <li>{{list.content}}</li>
            <li>{{list.updated}}</li>
            <li>{{list.timestamp}}</li>
     
    </ol>

    <p class="awsome">The Post Create PageThe Post Create PageThe Post Create PageThe Post Create PageThe Post Create PageThe Post Create PageThe Post Create PageThe Post Create Page</p>

    <ol>
    	<li class="awsome" >LISt123</li>
    	<li>123List</li>

    </ol>


    <ul>
    	<li>hi</li>
    	<li>bye</li>
    </ul>

    <div>OK</div>

</body>
</html>