<!DOCTYPE html>
<html>
<head>
	<title> DELEETE </title>
	<style>
    	h1{
    		color:red;
    	}
    	h2{
    		color:green;
    	}
    	h3{
    		color:pink;
    		background-color: red;
    	}
    	.awsome{
    		font-family: sans-serif;
    	}


    </style>

</head>
<body>


	<h1>DELETE</h1>
    <h2>The Delete Page</h2>
    <h3>The Post Create Page</h3>
    <p class="awsome">The Post Create PageThe Post Create PageThe Post Create PageThe Post Create PageThe Post Create PageThe Post Create PageThe Post Create PageThe Post Create Page</p>

    <ol>
    	<li class="awsome" >Delete123</li>
    	<li>123Delete</li>

    </ol>


    <ul>
    	<li>hi</li>
    	<li>bye</li>
    </ul>

    <div>OK</div>


</body>
</html>