<!DOCTYPE html>
<html>
<head>
	<title> LIST </title>
	<style>
    	h1{
    		color:red;
    	}
    	h2{
    		color:green;
    	}
    	h3{
    		color:pink;
    		background-color: orange;
    	}
    	.awsome{
    		font-family: arial;
    	}


    </style>

</head>
<body>


	<h1>LIST</h1>
    <h2>The List Page</h2>
    <h3>The Post Create Page</h3>
    <p class="awsome">The Post Create PageThe Post Create PageThe Post Create PageThe Post Create PageThe Post Create PageThe Post Create PageThe Post Create PageThe Post Create Page</p>

    <ol>
    	<li class="awsome" >hi</li>
    	<li>bye</li>

    </ol>


    <ul>
    	<li>ABCD</li>
    	<li>EFGH</li>
    </ul>

    <div>OK</div>


</body>
</html>