<!DOCTYPE html>
<html>
<head>
	<title>DANA DANA</title>
</head>
<body>

	<style>
    	h1{
    		color:blue;
    	}
    	h2{
    		color:yellow;
    	}
    	h3{
    		color:white;
    		background-color: green;
    	}
    	.awsome{
    		color: red;
    		font-family: serif;
    	}


    </style>

</head>
<body>
    <h1>The Update Page</h1>
    <h2>The Post Create Page</h2>
    <h3>The Post Create Page</h3>
    <p class="awsome">DANADANADANADANADANADANADANADANADANADANADANADANADANADANADANADANADANADANADANADANADANADANADANADANADANADANA</p>

    <ol>
    	<li class="awsome" >this is 1</li>
    	<li>this is 2</li>

    </ol>


    <ul>
    	<li class="awsome">1234567890</li>
    	<li class="awsome">0987654321</li>
    </ul>

    <div>OK</div>






</body>
</html>